In [1]:
from functools import lru_cache

import duckdb
import requests
import pandas as pd

pd.set_option('display.max_rows', None)

In [3]:
con = duckdb.connect("/data/duckdb/github_dw.duckdb", read_only=True)

In [5]:
ls /home/jovyan/.duckdb/stored_secrets/

s3_secret.duckdb_secret

In [4]:
_ = con.execute(
"""
    INSTALL delta;
    LOAD delta;
    
    INSTALL httpfs;
    LOAD httpfs;
    
    CREATE OR REPLACE PERSISTENT SECRET s3_secret (
    TYPE s3,
    PROVIDER config,
    KEY_ID '',
    SECRET '',
    URL_STYLE 'path',
    USE_SSL false,
    ENDPOINT 's3.ap-southeast-1.amazonaws.com',
    REGION 'ap-southeast-1'
    );
"""
)

In [4]:
_ = con.execute(
"""
    INSTALL delta;
    LOAD delta;
    
    INSTALL httpfs;
    LOAD httpfs;
    
    CREATE OR REPLACE PERSISTENT SECRET docker_secret (
    TYPE s3,
    PROVIDER config,
    KEY_ID 'datalake',
    SECRET 'datalake',
    URL_STYLE 'path',
    USE_SSL false,
    ENDPOINT 'minio:9000',
    REGION 'ap-southeast-1'
    );
"""
)

In [4]:
_ = con.execute(
"""
    INSTALL delta;
    LOAD delta;
    
    INSTALL httpfs;
    LOAD httpfs;
    
    CREATE OR REPLACE PERSISTENT SECRET local_secret (
    TYPE s3,
    PROVIDER config,
    KEY_ID 'datalake',
    SECRET 'datalake',
    URL_STYLE 'path',
    USE_SSL false,
    ENDPOINT 'localhost:9050',
    REGION 'ap-southeast-1'
    );
"""
)

In [5]:
_ = con.execute(
"""
    DROP SECRET docker_secret;
"""
)

InvalidInputException: Invalid Input Error: Failed to remove non-existent secret with name 'docker_secret'

In [7]:
df = con.sql("FROM duckdb_secrets()")
df

┌───────────────┬─────────┬──────────┬────────────┬────────────┬─────────────────────────┬────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
│     name      │  type   │ provider │ persistent │  storage   │          scope          │                                                                                             secret_string                                                                                              │
│    varchar    │ varchar │ varchar  │  boolean   │  varchar   │        varchar[]        │                                                                                                varchar                                                                                                 │
├───────────────┼─────────┼──────────┼────────────┼────────────┼─────────────────────────┼────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┤
│ docker_secret │ s3      │ config   │ true       │ local_file │ [s3://, s3n://, s3a://] │ name=docker_secret;type=s3;provider=config;serializable=true;scope=s3://,s3n://,s3a://;endpoint=minio:9000;key_id=datalake;region=ap-southeast-1;secret=redacted;url_style=path;use_ssl=false          │
│ s3_secret     │ s3      │ config   │ true       │ local_file │ [s3://, s3n://, s3a://] │ name=s3_secret;type=s3;provider=config;serializable=true;scope=s3://,s3n://,s3a://;endpoint=s3.ap-southeast-1.amazonaws.com;key_id=;region=ap-southeast-1;secret=redacted;url_style=path;use_ssl=false │
└───────────────┴─────────┴──────────┴────────────┴────────────┴─────────────────────────┴────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [80]:
_ = con.execute("USE raw")

In [9]:
con.sql("FROM which_secret('s3://covid-data-pipeline/covid19/covid19datahub', 's3')")

┌───────────────┬────────────┬────────────┐
│     name      │ persistent │  storage   │
│    varchar    │  varchar   │  varchar   │
├───────────────┼────────────┼────────────┤
│ docker_secret │ PERSISTENT │ local_file │
└───────────────┴────────────┴────────────┘

In [4]:
con.sql("""
SELECT COUNT(1), location_id
FROM curated.dim_location
GROUP BY location_id
ORDER BY 1 DESC
""")
# 13684

┌──────────┬──────────────────────────────────┐
│ count(1) │           location_id            │
│  int64   │             varchar              │
├──────────┼──────────────────────────────────┤
│        1 │ 4f7efc023ded10e1b7d65dbd271a8755 │
│        1 │ 32a7a102817188bc1ae158f08a052be0 │
│        1 │ bdb13f793a19fbcd51f3da2b1e5a1372 │
│        1 │ 9586b7c7e9eed3cfeed8d964f8f20e9c │
│        1 │ 2e627578dde8df77db90a769336a74ed │
│        1 │ 36b3d13570908f07b14398cf79f53aed │
│        1 │ 9dea06205b1d273b3dc68832267a4246 │
│        1 │ 2fce982804dca775b165febedfd5ba28 │
│        1 │ 85031bba487c8254ce0555c36fec1d92 │
│        1 │ c038a29dd552432c8ec1e365f0675239 │
│        · │                ·                 │
│        · │                ·                 │
│        · │                ·                 │
│        1 │ ebe73fd45a0fef3e620a65c78b48a1c5 │
│        1 │ fadfe410f7aefe9b671bec70535ab972 │
│        1 │ 493df94d610d7c7a1e7c98114ebc394a │
│        1 │ bfb1f797af74126918f9fb375bf57641 │
│        1 │ 2babb0bb89eb1c218fdb073174bf77a6 │
│        1 │ f11d9ee0230eea5f7fde6d15cd4acc5e │
│        1 │ 0be0b525841475b117ac34439cd3a4a4 │
│        1 │ 2cf9f47ab67c4c18fea8d7e6e46c92ba │
│        1 │ 81a07860731d6f3354aca0a09fefdaae │
│        1 │ b0f05e8677ed9da6d68f99934793a3ad │
├──────────┴──────────────────────────────────┤
│ 4304 rows (20 shown)              2 columns │
└─────────────────────────────────────────────┘

In [16]:
location_df = con.sql("""
    SELECT COUNT(id),
        COUNT(CASE WHEN combined_key IS NULL THEN 1 ELSE NULL END) AS combined_key_cnt_null , 
        COUNT(CASE WHEN province_state IS NULL THEN 1 ELSE NULL END) AS province_state_cnt_null, 
        COUNT(CASE WHEN country_region IS NULL THEN 1 ELSE NULL END) AS country_region_cnt_null, 
        COUNT(CASE WHEN latitude IS NULL THEN 1 ELSE NULL END) AS latitude_cnt_null, 
        COUNT(CASE WHEN longitude IS NULL THEN 1 ELSE NULL END) AS longitude_cnt_null, 
        COUNT(CASE WHEN fips IS NULL THEN 1 ELSE NULL END) AS fips_cnt_null, 
        COUNT(CASE WHEN admin2 IS NULL THEN 1 ELSE NULL END) AS admin2_cnt_null
    FROM cleansed_location LIMIT 10
""")
location_df

┌───────────┬───────────────────────┬─────────────────────────┬─────────────────────────┬───────────────────┬────────────────────┬───────────────┬─────────────────┐
│ count(id) │ combined_key_cnt_null │ province_state_cnt_null │ country_region_cnt_null │ latitude_cnt_null │ longitude_cnt_null │ fips_cnt_null │ admin2_cnt_null │
│   int64   │         int64         │          int64          │          int64          │       int64       │       int64        │     int64     │      int64      │
├───────────┼───────────────────────┼─────────────────────────┼─────────────────────────┼───────────────────┼────────────────────┼───────────────┼─────────────────┤
│      5322 │                     0 │                       0 │                       0 │                 0 │                  0 │             0 │               0 │
└───────────┴───────────────────────┴─────────────────────────┴─────────────────────────┴───────────────────┴────────────────────┴───────────────┴─────────────────┘

In [17]:
con.sql("""
SELECT COUNT(DISTINCT CASE WHEN administrative_area_level = 1 THEN 1 ELSE NULL END) AS level1,
       COUNT(DISTINCT CASE WHEN administrative_area_level = 2 THEN 1 ELSE NULL END) AS level2,
       COUNT(DISTINCT CASE WHEN administrative_area_level = 3 THEN 1 ELSE NULL END) AS level3,
       country_region
FROM cleansed.cleansed_location 

GROUP BY country_region
HAVING level3 > 0""").to_df()

   level1  level2  level3 country_region
0       0       1       1             US

In [19]:
con.sql("SELECT MIN(last_update), MAX(last_update) FROM covid19_raw.raw_github_csse_daily")

┌──────────────────┬──────────────────┐
│ min(last_update) │ max(last_update) │
│     varchar      │     varchar      │
├──────────────────┼──────────────────┤
│ 1/22/2020 17:00  │ 4/6/20 9:37      │
└──────────────────┴──────────────────┘

In [17]:
con.sql("SELECT * FROM cleansed_location LIMIT 10")

┌──────────────────────────────────┬──────────────────────────────┬─────────────┬──────────────┬────────────────┬────────────────┬───────┬──────────────┐
│                id                │         combined_key         │  latitude   │  longitude   │ province_state │ country_region │ fips  │    admin2    │
│             varchar              │           varchar            │   double    │    double    │    varchar     │    varchar     │ int32 │   varchar    │
├──────────────────────────────────┼──────────────────────────────┼─────────────┼──────────────┼────────────────┼────────────────┼───────┼──────────────┤
│ 3650296a82594e3c2c3a77bf8fee7570 │ Sichuan, China               │     30.6171 │     102.7103 │ Sichuan        │ China          │ -9999 │ Unassigned   │
│ 272c321f2dac912a6dbe1d47234120fd │ Sonora, Mexico               │     29.2972 │    -110.3309 │ Sonora         │ Mexico         │ -9999 │ Unassigned   │
│ 8c0b1ac6cc1acc0bb413aed5d724394d │ Thailand                     │   15.870032 │   100.992541 │ Unassigned     │ Thailand       │ -9999 │ Unassigned   │
│ 05c147619125d4d1ae496723fbd0e318 │ Conecuh, Alabama, US         │ 31.43401703 │ -86.99320044 │ Alabama        │ US             │  1035 │ Conecuh      │
│ 9ba04197c45ded1daba08648fadae46d │ Contra Costa, California, US │ 37.91923498 │ -121.9289527 │ California     │ US             │  6013 │ Contra Costa │
│ 0af75daf20e5e44fec6afc4034378aac │ Leon, Florida, US            │ 30.45955727 │ -84.27491114 │ Florida        │ US             │ 12073 │ Leon         │
│ 891b8a70d5372bc11020ee89ba9b4c25 │ Jackson, Illinois, US        │ 37.78595185 │ -89.38232563 │ Illinois       │ US             │ 17077 │ Jackson      │
│ d4440b8b9c3311f1b0f91261a7101085 │ Clinton, Indiana, US         │ 40.30319754 │ -86.47277257 │ Indiana        │ US             │ 18023 │ Clinton      │
│ d69991e3f743ca8c95542cce1ffd5446 │ Fountain, Indiana, US        │ 40.12361933 │ -87.24217689 │ Indiana        │ US             │ 18045 │ Fountain     │
│ b5acaf83aff22e589f7bf91bd7fcc1d4 │ Kandiyohi, Minnesota, US     │  45.1526059 │ -95.00586446 │ Minnesota      │ US             │ 27067 │ Kandiyohi    │
├──────────────────────────────────┴──────────────────────────────┴─────────────┴──────────────┴────────────────┴────────────────┴───────┴──────────────┤
│ 10 rows                                                                                                                                     8 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [17]:
con.sql("""
    WITH t1 AS (
        SELECT LENGTH(last_update) AS len
        FROM covid19_raw.raw_github_csse_daily
    )
    SELECT len, COUNT(1)
    FROM t1
    GROUP BY len
    ORDER BY len DESC
    ;
""")

┌───────┬──────────┐
│  len  │ count(1) │
│ int64 │  int64   │
├───────┼──────────┤
│    19 │  4119846 │
│    16 │       37 │
│    15 │      178 │
│    14 │       73 │
│    13 │    14494 │
│    12 │     8201 │
│    11 │       68 │
└───────┴──────────┘

In [20]:
con.sql("""
    WITH t1 AS (
        SELECT LENGTH(last_update) AS len_last_update, *
        FROM covid19_raw.raw_github_csse_daily
    )
    SELECT *
    FROM t1
    WHERE len_last_update = 19
    LIMIT 10;

    -- Example Value: 2023-01-06 04:21:02
""")

┌─────────────────┬──────────────────────────────────┬───────────┬──────────┬───────────┬────────┬────────────────────┬────────────────┬─────────────────────┬─────────────────────┬─────────────────────┬───────┬───────┬───────┐
│ len_last_update │                id                │ confirmed │  deaths  │ recovered │ active │   incident_rate    │ incidence_rate │ case_fatality_ratio │     last_update     │      load_date      │ year  │ month │  day  │
│      int64      │             varchar              │  double   │  double  │  double   │ int64  │       double       │     double     │       double        │       varchar       │      timestamp      │ int64 │ int64 │ int64 │
├─────────────────┼──────────────────────────────────┼───────────┼──────────┼───────────┼────────┼────────────────────┼────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼───────┼───────┼───────┤
│              19 │ 6c576b5de057f82f2e0d9fc2d19ff45d │ 9963697.0 │ 130171.0 │      NULL │   NULL │  22045.63713994783 │           NULL │  1.3064528156566784 │ 2023-01-06 04:21:02 │ 2023-01-05 00:00:00 │  2023 │     1 │     5 │
│              19 │ 59ff8b89dd72aadcf20773e2fb64527c │  401077.0 │  16234.0 │      NULL │   NULL │ 12224.919722690856 │           NULL │   4.047601832067159 │ 2023-01-06 04:21:02 │ 2023-01-05 00:00:00 │  2023 │     1 │     5 │
│              19 │ 29d14ebb253cd881e6fb25663bac56b8 │  328071.0 │   2794.0 │      NULL │   NULL │ 13950.821240631478 │           NULL │  0.8516449183256063 │ 2023-01-06 04:21:02 │ 2023-01-05 00:00:00 │  2023 │     1 │     5 │
│              19 │ 0d83f1219a776a48b87a94232c801159 │ 1313725.0 │  14975.0 │      NULL │   NULL │ 32690.704589849825 │           NULL │  1.1398884850330169 │ 2023-01-06 04:21:02 │ 2023-01-05 00:00:00 │  2023 │     1 │     5 │
│              19 │ b1263b36654b453b6fc4a4bd18fac88e │ 1125192.0 │  22583.0 │      NULL │   NULL │ 11773.397937506166 │           NULL │   2.007035243762842 │ 2023-01-06 04:21:02 │ 2023-01-05 00:00:00 │  2023 │     1 │     5 │
│              19 │ 3af92943fd1b2b7d6087a8629aefb0e2 │ 2909726.0 │  41555.0 │      NULL │   NULL │  25574.97473684081 │           NULL │  1.4281413438928614 │ 2023-01-06 04:21:02 │ 2023-01-05 00:00:00 │  2023 │     1 │     5 │
│              19 │ eb39dd3915b20ac53b8b38bb02d597aa │ 6327470.0 │ 177572.0 │      NULL │   NULL │ 13779.618998642589 │           NULL │    2.80636652564137 │ 2023-01-06 04:21:02 │ 2023-01-05 00:00:00 │  2023 │     1 │     5 │
│              19 │ d9719333b81b9070f8640f4b3806f655 │ 1292778.0 │  38116.0 │      NULL │   NULL │ 18605.285067378383 │           NULL │  2.9483793814560584 │ 2023-01-06 04:21:02 │ 2023-01-05 00:00:00 │  2023 │     1 │     5 │
│              19 │ 49172eee2af16b198e42d299a983055f │   22006.0 │    395.0 │      NULL │   NULL │  105.2753544204885 │           NULL │   1.794965009542852 │ 2023-01-06 04:21:02 │ 2023-01-05 00:00:00 │  2023 │     1 │     5 │
│              19 │ fb5ea6acb10e6909f1eb9b1869381c8f │   53914.0 │    288.0 │      NULL │   NULL │ 10340.931976638249 │           NULL │  0.5341840709277739 │ 2023-01-06 04:21:02 │ 2023-01-05 00:00:00 │  2023 │     1 │     5 │
├─────────────────┴──────────────────────────────────┴───────────┴──────────┴───────────┴────────┴────────────────────┴────────────────┴─────────────────────┴─────────────────────┴─────────────────────┴───────┴───────┴───────┤
│ 10 rows                                                                                                                                                                                                             14 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [21]:
con.sql("""
    WITH t1 AS (
        SELECT LENGTH(last_update) AS len_last_update, *
        FROM covid19_raw.raw_github_csse_daily
    )
    SELECT *
    FROM t1
    WHERE len_last_update = 16
    LIMIT 10;

    -- Example Value: 2021-01-15 17:22
""")

┌─────────────────┬──────────────────────────────────┬───────────┬─────────┬───────────┬────────┬────────────────────┬────────────────┬─────────────────────┬──────────────────┬─────────────────────┬───────┬───────┬───────┐
│ len_last_update │                id                │ confirmed │ deaths  │ recovered │ active │   incident_rate    │ incidence_rate │ case_fatality_ratio │   last_update    │      load_date      │ year  │ month │  day  │
│      int64      │             varchar              │  double   │ double  │  double   │ int64  │       double       │     double     │       double        │     varchar      │      timestamp      │ int64 │ int64 │ int64 │
├─────────────────┼──────────────────────────────────┼───────────┼─────────┼───────────┼────────┼────────────────────┼────────────────┼─────────────────────┼──────────────────┼─────────────────────┼───────┼───────┼───────┤
│              16 │ 039b389ba69595065fb4c9e39bbc5fee │  885616.0 │  7138.0 │  876140.0 │   2338 │ 1642.9689314733862 │           NULL │  0.8059926649925024 │ 2021-01-15 17:22 │ 2021-01-14 00:00:00 │  2021 │     1 │    14 │
│              16 │ 3b533f20ba1f524b64f25e681a3b3d98 │   16798.0 │    56.0 │   16674.0 │     68 │ 1069.6242752114351 │           NULL │  0.3333730205976902 │ 2021-01-15 17:22 │ 2021-01-14 00:00:00 │  2021 │     1 │    14 │
│              16 │ fdb067dfeb3e574a57471b082af78e9f │   56751.0 │   963.0 │   54977.0 │    811 │  761.5585440330759 │           NULL │    1.69688639847756 │ 2021-01-15 17:22 │ 2021-01-14 00:00:00 │  2021 │     1 │    14 │
│              16 │ 07ba2b61e89c5e1194dae77a02ab599c │  332763.0 │  1896.0 │  328832.0 │   2035 │  717.8371784101823 │           NULL │  0.5697748848279406 │ 2021-01-15 17:22 │ 2021-01-14 00:00:00 │  2021 │     1 │    14 │
│              16 │ e72ece2ddb4362f979adb28b6eb12855 │    4976.0 │    62.0 │    4891.0 │     23 │  1193.182363153301 │           NULL │  1.2459807073954985 │ 2021-01-15 17:22 │ 2021-01-14 00:00:00 │  2021 │     1 │    14 │
│              16 │ b3447206c53cf1420692dd568b726404 │   20438.0 │   330.0 │   19835.0 │    273 │ 1764.2189330264926 │           NULL │  1.6146393972012918 │ 2021-01-15 17:22 │ 2021-01-14 00:00:00 │  2021 │     1 │    14 │
│              16 │ 27740dca75a15f601c478478b5e8dd48 │  254314.0 │  4357.0 │  242901.0 │   7056 │  398.1594616479021 │           NULL │   1.713236392805744 │ 2021-01-15 17:22 │ 2021-01-14 00:00:00 │  2021 │     1 │    14 │
│              16 │ d1f678662cb629ff80f23ec1797f121f │ 1981623.0 │ 50291.0 │ 1877588.0 │  53744 │  1609.188763974742 │           NULL │   2.537869211247548 │ 2021-01-15 17:22 │ 2021-01-14 00:00:00 │  2021 │     1 │    14 │
│              16 │ 313543d89a785c715bef443dcaca30ef │  314372.0 │  2744.0 │  305953.0 │   5675 │ 387.95701324930735 │           NULL │  0.8728512717417581 │ 2021-01-15 17:22 │ 2021-01-14 00:00:00 │  2021 │     1 │    14 │
│              16 │ 20e4fc33017e9f4aa620df0066cecf51 │   94324.0 │  1596.0 │   90218.0 │   2510 │  838.3716157469946 │           NULL │  1.6920402018574277 │ 2021-01-15 17:22 │ 2021-01-14 00:00:00 │  2021 │     1 │    14 │
├─────────────────┴──────────────────────────────────┴───────────┴─────────┴───────────┴────────┴────────────────────┴────────────────┴─────────────────────┴──────────────────┴─────────────────────┴───────┴───────┴───────┤
│ 10 rows                                                                                                                                                                                                         14 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [22]:
con.sql("""
    WITH t1 AS (
        SELECT LENGTH(last_update) AS len_last_update, *
        FROM covid19_raw.raw_github_csse_daily
    )
    SELECT *
    FROM t1
    WHERE len_last_update = 15
    LIMIT 10;

    -- Example Value: 1/22/2020 17:00
""")

┌─────────────────┬──────────────────────────────────┬───────────┬────────┬───────────┬────────┬───────────────┬────────────────┬─────────────────────┬─────────────────┬─────────────────────┬───────┬───────┬───────┐
│ len_last_update │                id                │ confirmed │ deaths │ recovered │ active │ incident_rate │ incidence_rate │ case_fatality_ratio │   last_update   │      load_date      │ year  │ month │  day  │
│      int64      │             varchar              │  double   │ double │  double   │ int64  │    double     │     double     │       double        │     varchar     │      timestamp      │ int64 │ int64 │ int64 │
├─────────────────┼──────────────────────────────────┼───────────┼────────┼───────────┼────────┼───────────────┼────────────────┼─────────────────────┼─────────────────┼─────────────────────┼───────┼───────┼───────┤
│              15 │ 755f36722d7e163e6ce4438aec2f95d9 │       1.0 │   NULL │      NULL │   NULL │          NULL │           NULL │                NULL │ 1/22/2020 17:00 │ 2020-01-22 00:00:00 │  2020 │     1 │    22 │
│              15 │ 36db611be2cfcbbb24448438006a47ea │      NULL │   NULL │      NULL │   NULL │          NULL │           NULL │                NULL │ 1/22/2020 17:00 │ 2020-01-22 00:00:00 │  2020 │     1 │    22 │
│              15 │ ea71f4ba8d19e33fb0f7f9d946c3693c │       0.0 │    0.0 │       0.0 │   NULL │          NULL │           NULL │                NULL │ 1/22/2020 17:00 │ 2020-01-22 00:00:00 │  2020 │     1 │    22 │
│              15 │ 2fe4a3261959511b989ae30b2ee0e141 │       0.0 │    0.0 │       0.0 │   NULL │          NULL │           NULL │                NULL │ 1/22/2020 17:00 │ 2020-01-22 00:00:00 │  2020 │     1 │    22 │
│              15 │ cb70bf82342ca45420b9f7b38c3c66eb │       0.0 │    0.0 │       0.0 │   NULL │          NULL │           NULL │                NULL │ 1/22/2020 17:00 │ 2020-01-22 00:00:00 │  2020 │     1 │    22 │
│              15 │ ce9ceee38eee483b305304870df47c6d │       0.0 │    0.0 │       0.0 │   NULL │          NULL │           NULL │                NULL │ 1/22/2020 17:00 │ 2020-01-22 00:00:00 │  2020 │     1 │    22 │
│              15 │ b74271b5b6cab6874c0f6ce0158d7d00 │       0.0 │    0.0 │       0.0 │   NULL │          NULL │           NULL │                NULL │ 1/22/2020 17:00 │ 2020-01-22 00:00:00 │  2020 │     1 │    22 │
│              15 │ 573c7dedac65bda4b433ea13d1319398 │       4.0 │   NULL │      NULL │   NULL │          NULL │           NULL │                NULL │ 1/22/2020 17:00 │ 2020-01-22 00:00:00 │  2020 │     1 │    22 │
│              15 │ d4a236cf9d0080a0ac751b5596c91b51 │     444.0 │   17.0 │      28.0 │   NULL │          NULL │           NULL │                NULL │ 1/22/2020 17:00 │ 2020-01-22 00:00:00 │  2020 │     1 │    22 │
│              15 │ da5bc9950def2b39bb4bc56e720fac65 │       2.0 │   NULL │      NULL │   NULL │          NULL │           NULL │                NULL │ 1/22/2020 17:00 │ 2020-01-22 00:00:00 │  2020 │     1 │    22 │
├─────────────────┴──────────────────────────────────┴───────────┴────────┴───────────┴────────┴───────────────┴────────────────┴─────────────────────┴─────────────────┴─────────────────────┴───────┴───────┴───────┤
│ 10 rows                                                                                                                                                                                                  14 columns │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [23]:
con.sql("""
    WITH t1 AS (
        SELECT LENGTH(last_update) AS len_last_update, *
        FROM covid19_raw.raw_github_csse_daily
    )
    SELECT *
    FROM t1
    WHERE len_last_update = 14
    LIMIT 10;

    -- Example Value: 2/1/2020 10:33
""")

┌─────────────────┬──────────────────────────────────┬───────────┬────────┬───────────┬────────┬───────────────┬────────────────┬─────────────────────┬────────────────┬─────────────────────┬───────┬───────┬───────┐
│ len_last_update │                id                │ confirmed │ deaths │ recovered │ active │ incident_rate │ incidence_rate │ case_fatality_ratio │  last_update   │      load_date      │ year  │ month │  day  │
│      int64      │             varchar              │  double   │ double │  double   │ int64  │    double     │     double     │       double        │    varchar     │      timestamp      │ int64 │ int64 │ int64 │
├─────────────────┼──────────────────────────────────┼───────────┼────────┼───────────┼────────┼───────────────┼────────────────┼─────────────────────┼────────────────┼─────────────────────┼───────┼───────┼───────┤
│              14 │ ddf6ce64bc193e0c4914afc6785948d0 │      80.0 │    2.0 │       2.0 │   NULL │          NULL │           NULL │                NULL │ 2/1/2020 10:33 │ 2020-02-01 00:00:00 │  2020 │     2 │     1 │
│              14 │ ab60efcde0cfd2d501446164a6e897f2 │      41.0 │    0.0 │       0.0 │   NULL │          NULL │           NULL │                NULL │ 2/1/2020 15:43 │ 2020-02-01 00:00:00 │  2020 │     2 │     1 │
│              14 │ 09de8f58fb92b27703e90e2c0d0cfe7f │      40.0 │    0.0 │       0.0 │   NULL │          NULL │           NULL │                NULL │ 2/1/2020 15:43 │ 2020-02-01 00:00:00 │  2020 │     2 │     1 │
│              14 │ 6b97ecdccf72141167b6e65e50668a1b │       4.0 │    0.0 │       0.0 │   NULL │          NULL │           NULL │                NULL │ 1/31/2020 8:15 │ 2020-02-01 00:00:00 │  2020 │     2 │     1 │
│              14 │ eb3048eb72d964b3e1cd170d13b79913 │       3.0 │    0.0 │       0.0 │   NULL │          NULL │           NULL │                NULL │ 2/1/2020 18:12 │ 2020-02-01 00:00:00 │  2020 │     2 │     1 │
│              14 │ cf4f1f0a438cdca4969bab8f8a57ed11 │       2.0 │    0.0 │       0.0 │   NULL │          NULL │           NULL │                NULL │ 1/31/2020 8:15 │ 2020-02-01 00:00:00 │  2020 │     2 │     1 │
│              14 │ 0179f8d12bbbbdc3472c605061c85213 │       1.0 │    0.0 │       0.0 │   NULL │          NULL │           NULL │                NULL │ 1/31/2020 8:15 │ 2020-02-01 00:00:00 │  2020 │     2 │     1 │
│              14 │ 049841caeace0cf0fa47089ee23c5be7 │       1.0 │    0.0 │       0.0 │   NULL │          NULL │           NULL │                NULL │ 2/1/2020 19:43 │ 2020-02-01 00:00:00 │  2020 │     2 │     1 │
│              14 │ f091a08395836572c5ed03c86d99df0d │       0.0 │    0.0 │       0.0 │   NULL │          NULL │           NULL │                NULL │ 2/1/2020 11:53 │ 2020-02-01 00:00:00 │  2020 │     2 │     1 │
│              14 │ e61936e5aea35447c429b64ab1eb8c9d │       0.0 │    0.0 │       0.0 │   NULL │          NULL │           NULL │                NULL │ 2/1/2020 11:53 │ 2020-02-01 00:00:00 │  2020 │     2 │     1 │
├─────────────────┴──────────────────────────────────┴───────────┴────────┴───────────┴────────┴───────────────┴────────────────┴─────────────────────┴────────────────┴─────────────────────┴───────┴───────┴───────┤
│ 10 rows                                                                                                                                                                                                 14 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [24]:
con.sql("""
    WITH t1 AS (
        SELECT LENGTH(last_update) AS len_last_update, *
        FROM covid19_raw.raw_github_csse_daily
    )
    SELECT *
    FROM t1
    WHERE len_last_update = 13
    LIMIT 10;

    -- Example Value: 1/23/20 17:00
""")

┌─────────────────┬──────────────────────────────────┬───────────┬────────┬───────────┬────────┬───────────────┬────────────────┬─────────────────────┬───────────────┬─────────────────────┬───────┬───────┬───────┐
│ len_last_update │                id                │ confirmed │ deaths │ recovered │ active │ incident_rate │ incidence_rate │ case_fatality_ratio │  last_update  │      load_date      │ year  │ month │  day  │
│      int64      │             varchar              │  double   │ double │  double   │ int64  │    double     │     double     │       double        │    varchar    │      timestamp      │ int64 │ int64 │ int64 │
├─────────────────┼──────────────────────────────────┼───────────┼────────┼───────────┼────────┼───────────────┼────────────────┼─────────────────────┼───────────────┼─────────────────────┼───────┼───────┼───────┤
│              13 │ 16f331ef53a23243b8a501196c4dbabc │      NULL │   NULL │      NULL │   NULL │          NULL │           NULL │                NULL │ 1/23/20 17:00 │ 2020-01-23 00:00:00 │  2020 │     1 │    23 │
│              13 │ d6a76eb7adf42b3cba2c4063d2a5abc0 │      NULL │   NULL │      NULL │   NULL │          NULL │           NULL │                NULL │ 1/23/20 17:00 │ 2020-01-23 00:00:00 │  2020 │     1 │    23 │
│              13 │ 0bbf4b34016952072976fa50aade0560 │       0.0 │    0.0 │       0.0 │   NULL │          NULL │           NULL │                NULL │ 1/23/20 17:00 │ 2020-01-23 00:00:00 │  2020 │     1 │    23 │
│              13 │ bdc0944a3b81028e2db57852ba21084a │       0.0 │    0.0 │       0.0 │   NULL │          NULL │           NULL │                NULL │ 1/23/20 17:00 │ 2020-01-23 00:00:00 │  2020 │     1 │    23 │
│              13 │ bd25167136e32f840386c55bdd8d8515 │       0.0 │    0.0 │       0.0 │   NULL │          NULL │           NULL │                NULL │ 1/23/20 17:00 │ 2020-01-23 00:00:00 │  2020 │     1 │    23 │
│              13 │ 9ad6e864a78ecba48bf46adcf59e47fa │       1.0 │   NULL │      NULL │   NULL │          NULL │           NULL │                NULL │ 1/23/20 17:00 │ 2020-01-23 00:00:00 │  2020 │     1 │    23 │
│              13 │ d02b42af65e5fa8930579e88cabe01bc │       3.0 │   NULL │      NULL │   NULL │          NULL │           NULL │                NULL │ 1/23/20 17:00 │ 2020-01-23 00:00:00 │  2020 │     1 │    23 │
│              13 │ 30a635cf10f15c0e7186346d5109c39c │       1.0 │   NULL │      NULL │   NULL │          NULL │           NULL │                NULL │ 1/23/20 17:00 │ 2020-01-23 00:00:00 │  2020 │     1 │    23 │
│              13 │ 8491c568150e47445b10ae2e6d64f096 │      NULL │   NULL │      NULL │   NULL │          NULL │           NULL │                NULL │ 1/23/20 17:00 │ 2020-01-23 00:00:00 │  2020 │     1 │    23 │
│              13 │ 95b4a51b7ff3d80936dc472cb1a7bb27 │      NULL │   NULL │      NULL │   NULL │          NULL │           NULL │                NULL │ 1/23/20 17:00 │ 2020-01-23 00:00:00 │  2020 │     1 │    23 │
├─────────────────┴──────────────────────────────────┴───────────┴────────┴───────────┴────────┴───────────────┴────────────────┴─────────────────────┴───────────────┴─────────────────────┴───────┴───────┴───────┤
│ 10 rows                                                                                                                                                                                                14 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [27]:
con.sql("""
    WITH t1 AS (
        SELECT LENGTH(last_update) AS len_last_update, *
        FROM covid19_raw.raw_github_csse_daily
    )
    SELECT *
    FROM t1
    WHERE len_last_update = 12
    LIMIT 10;

    -- Example Value: 4/6/20 23:22
""")

┌─────────────────┬──────────────────────────────────┬───────────┬────────┬───────────┬────────┬───────────────┬────────────────┬─────────────────────┬──────────────┬─────────────────────┬───────┬───────┬───────┐
│ len_last_update │                id                │ confirmed │ deaths │ recovered │ active │ incident_rate │ incidence_rate │ case_fatality_ratio │ last_update  │      load_date      │ year  │ month │  day  │
│      int64      │             varchar              │  double   │ double │  double   │ int64  │    double     │     double     │       double        │   varchar    │      timestamp      │ int64 │ int64 │ int64 │
├─────────────────┼──────────────────────────────────┼───────────┼────────┼───────────┼────────┼───────────────┼────────────────┼─────────────────────┼──────────────┼─────────────────────┼───────┼───────┼───────┤
│              12 │ 4c7454ac7ae65061c65886d8caf0c9b3 │       6.0 │    0.0 │       0.0 │      6 │          NULL │           NULL │                NULL │ 4/6/20 23:22 │ 2020-04-06 00:00:00 │  2020 │     4 │     6 │
│              12 │ c667cfe0ff474dda1e417b23725ee837 │      11.0 │    0.0 │       0.0 │     11 │          NULL │           NULL │                NULL │ 4/6/20 23:22 │ 2020-04-06 00:00:00 │  2020 │     4 │     6 │
│              12 │ 912fa0ae3fb0633fb9ffb08dbc8be2e8 │       4.0 │    0.0 │       0.0 │      4 │          NULL │           NULL │                NULL │ 4/6/20 23:22 │ 2020-04-06 00:00:00 │  2020 │     4 │     6 │
│              12 │ 22404f02f5a91ecfc67d2204dd2f8ae0 │       6.0 │    0.0 │       0.0 │      6 │          NULL │           NULL │                NULL │ 4/6/20 23:22 │ 2020-04-06 00:00:00 │  2020 │     4 │     6 │
│              12 │ c4c43566ef86ecc365c686356db8241c │       1.0 │    0.0 │       0.0 │      1 │          NULL │           NULL │                NULL │ 4/6/20 23:22 │ 2020-04-06 00:00:00 │  2020 │     4 │     6 │
│              12 │ 31f520c13288390d85bc80bb36e760f5 │       1.0 │    0.0 │       0.0 │      1 │          NULL │           NULL │                NULL │ 4/6/20 23:22 │ 2020-04-06 00:00:00 │  2020 │     4 │     6 │
│              12 │ 471c9eb7f326003dd298739cea468376 │     203.0 │    2.0 │       0.0 │    201 │          NULL │           NULL │                NULL │ 4/6/20 23:22 │ 2020-04-06 00:00:00 │  2020 │     4 │     6 │
│              12 │ 9ebc3fa48878af0f6baecd295259e27c │       1.0 │    0.0 │       0.0 │      1 │          NULL │           NULL │                NULL │ 4/6/20 23:22 │ 2020-04-06 00:00:00 │  2020 │     4 │     6 │
│              12 │ ce14cc77f7b1cc076466c77286c431bd │       1.0 │    0.0 │       0.0 │      1 │          NULL │           NULL │                NULL │ 4/6/20 23:22 │ 2020-04-06 00:00:00 │  2020 │     4 │     6 │
│              12 │ 44a6d92c518a92d80940f567f0bfa8ea │       1.0 │    0.0 │       0.0 │      1 │          NULL │           NULL │                NULL │ 4/6/20 23:22 │ 2020-04-06 00:00:00 │  2020 │     4 │     6 │
├─────────────────┴──────────────────────────────────┴───────────┴────────┴───────────┴────────┴───────────────┴────────────────┴─────────────────────┴──────────────┴─────────────────────┴───────┴───────┴───────┤
│ 10 rows                                                                                                                                                                                               14 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [28]:
con.sql("""
    WITH t1 AS (
        SELECT LENGTH(last_update) AS len_last_update, *
        FROM covid19_raw.raw_github_csse_daily
    )
    SELECT *
    FROM t1
    WHERE len_last_update = 11
    LIMIT 10;

    -- Example Value: 3/8/20 5:19
""")

┌─────────────────┬──────────────────────────────────┬───────────┬────────┬───────────┬────────┬───────────────┬────────────────┬─────────────────────┬─────────────┬─────────────────────┬───────┬───────┬───────┐
│ len_last_update │                id                │ confirmed │ deaths │ recovered │ active │ incident_rate │ incidence_rate │ case_fatality_ratio │ last_update │      load_date      │ year  │ month │  day  │
│      int64      │             varchar              │  double   │ double │  double   │ int64  │    double     │     double     │       double        │   varchar   │      timestamp      │ int64 │ int64 │ int64 │
├─────────────────┼──────────────────────────────────┼───────────┼────────┼───────────┼────────┼───────────────┼────────────────┼─────────────────────┼─────────────┼─────────────────────┼───────┼───────┼───────┤
│              11 │ 56d20d41e1cd9cca2769f9a58b381c8d │     990.0 │    6.0 │     984.0 │      0 │          NULL │           NULL │                NULL │ 3/8/20 5:19 │ 2020-04-06 00:00:00 │  2020 │     4 │     6 │
│              11 │ ab0966995c1748f305cbcb32bd33f44d │     327.0 │    6.0 │     310.0 │     11 │          NULL │           NULL │                NULL │ 4/5/20 1:06 │ 2020-04-06 00:00:00 │  2020 │     4 │     6 │
│              11 │ b87d6fb6ff32f61579794691a0156318 │     914.0 │    4.0 │     216.0 │    694 │          NULL │           NULL │                NULL │ 4/6/20 9:37 │ 2020-04-06 00:00:00 │  2020 │     4 │     6 │
│              11 │ a54c2198719ccdcbda53c203a7a318c7 │     142.0 │    2.0 │     128.0 │     12 │          NULL │           NULL │                NULL │ 4/6/20 0:42 │ 2020-04-06 00:00:00 │  2020 │     4 │     6 │
│              11 │ c71d66d6f360fa54533675a9a4a21edc │     780.0 │    7.0 │     755.0 │     18 │          NULL │           NULL │                NULL │ 4/6/20 0:42 │ 2020-04-06 00:00:00 │  2020 │     4 │     6 │
│              11 │ 92ed0b1b45de29239bb088c3d679ccb9 │     559.0 │    3.0 │     540.0 │     16 │          NULL │           NULL │                NULL │ 4/6/20 1:14 │ 2020-04-06 00:00:00 │  2020 │     4 │     6 │
│              11 │ e9316cbb71a0d9cc61792c0beb0b42fc │     350.0 │    1.0 │     305.0 │     44 │          NULL │           NULL │                NULL │ 4/6/20 1:14 │ 2020-04-06 00:00:00 │  2020 │     4 │     6 │
│              11 │ 489380dd9350f1dddaaffb8055f010c7 │     524.0 │   13.0 │     469.0 │     42 │          NULL │           NULL │                NULL │ 4/6/20 0:42 │ 2020-04-06 00:00:00 │  2020 │     4 │     6 │
│              11 │ 5a9db59d5784d3ebece621369d8a19c7 │     138.0 │    0.0 │     133.0 │      5 │          NULL │           NULL │                NULL │ 4/5/20 0:58 │ 2020-04-06 00:00:00 │  2020 │     4 │     6 │
│              11 │ 0812da7a383dacf4e3a6a52773edc37e │     373.0 │    5.0 │      57.0 │    311 │          NULL │           NULL │                NULL │ 4/6/20 6:20 │ 2020-04-06 00:00:00 │  2020 │     4 │     6 │
├─────────────────┴──────────────────────────────────┴───────────┴────────┴───────────┴────────┴───────────────┴────────────────┴─────────────────────┴─────────────┴─────────────────────┴───────┴───────┴───────┤
│ 10 rows                                                                                                                                                                                              14 columns │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

## Data Cleansing

Based on the previous queries, we saw that we have different date formats for the last_update field that we need to standardize. This is an important process especially that we are dealing with timeseries dataset.
The following are some of the examples:

- 2023-01-06 04:21:02 => 19 characters
- 2021-01-15 17:22  => 16 characters
- 1/22/2020 17:00 => 15 characters
- 2/1/2020 10:33 => 14 characters
- 1/23/20 17:00 => 13 characters
- 4/6/20 23:22 => 12 characters
- 3/8/20 5:19 => 11 characters

In [37]:
con.sql("""
    WITH t1 AS (
        SELECT LENGTH(last_update) AS len_last_update, *
        FROM covid19_raw.raw_github_csse_daily
    )
    SELECT try_strptime(last_update, '%Y-%m-%d %H:%M:%S') AS c_last_update
    FROM t1
    WHERE len_last_update = 19
    LIMIT 20;
""")

┌─────────────────────┐
│    c_last_update    │
│      timestamp      │
├─────────────────────┤
│ 2023-01-06 04:21:02 │
│ 2023-01-06 04:21:02 │
│ 2023-01-06 04:21:02 │
│ 2023-01-06 04:21:02 │
│ 2023-01-06 04:21:02 │
│ 2023-01-06 04:21:02 │
│ 2023-01-06 04:21:02 │
│ 2023-01-06 04:21:02 │
│ 2023-01-06 04:21:02 │
│ 2023-01-06 04:21:02 │
│ 2023-01-06 04:21:02 │
│ 2023-01-06 04:21:02 │
│ 2023-01-06 04:21:02 │
│ 2023-01-06 04:21:02 │
│ 2023-01-06 04:21:02 │
│ 2023-01-06 04:21:02 │
│ 2023-01-06 04:21:02 │
│ 2023-01-06 04:21:02 │
│ 2023-01-06 04:21:02 │
│ 2023-01-06 04:21:02 │
├─────────────────────┤
│       20 rows       │
└─────────────────────┘

In [39]:
con.sql("""
    WITH t1 AS (
        SELECT LENGTH(last_update) AS len_last_update, *
        FROM covid19_raw.raw_github_csse_daily
    )
    SELECT try_strptime(last_update, '%Y-%m-%d %H:%M') AS c_last_update
    FROM t1
    WHERE len_last_update = 16
    LIMIT 20;
""")

┌─────────────────────┐
│    c_last_update    │
│      timestamp      │
├─────────────────────┤
│ 2021-01-15 17:22:00 │
│ 2021-01-15 17:22:00 │
│ 2021-01-15 17:22:00 │
│ 2021-01-15 17:22:00 │
│ 2021-01-15 17:22:00 │
│ 2021-01-15 17:22:00 │
│ 2021-01-15 17:22:00 │
│ 2021-01-15 17:22:00 │
│ 2021-01-15 17:22:00 │
│ 2021-01-15 17:22:00 │
│ 2021-01-15 17:22:00 │
│ 2021-01-15 17:22:00 │
│ 2021-01-15 17:22:00 │
│ 2021-01-15 17:22:00 │
│ 2021-01-15 17:22:00 │
│ 2021-01-15 17:22:00 │
│ 2021-01-15 17:22:00 │
│ 2021-01-15 17:22:00 │
│ 2021-01-15 17:22:00 │
│ 2021-01-15 17:22:00 │
├─────────────────────┤
│       20 rows       │
└─────────────────────┘

In [45]:
"""
2/1/2020 10:33 => 14 characters
1/23/20 17:00 => 13 characters
4/6/20 23:22 => 12 characters
3/8/20 5:19 => 11 characters
"""
con.sql("""
    WITH t1 AS (
        SELECT LENGTH(last_update) AS len_last_update, *
        FROM covid19_raw.raw_github_csse_daily
    )
    SELECT try_strptime(last_update, '%-m/%-d/%Y %H:%M') AS c_last_update
    FROM t1
    WHERE len_last_update = 15
    LIMIT 20;
""")

┌───────────────┐
│ c_last_update │
│   timestamp   │
├───────────────┤
│    0 rows     │
└───────────────┘

In [48]:
"""
2/1/2020 10:33 => 14 characters
1/23/20 17:00 => 13 characters
4/6/20 23:22 => 12 characters
3/8/20 5:19 => 11 characters
"""
con.sql("""
    WITH t1 AS (
        SELECT LENGTH(last_update) AS len_last_update, *
        FROM covid19_raw.raw_github_csse_daily
    )
    SELECT try_strptime(last_update, '%-m/%-d/%Y %H:%M') AS c_last_update
    FROM t1
    WHERE len_last_update = 14
    LIMIT 20;
""")

┌─────────────────────┐
│    c_last_update    │
│      timestamp      │
├─────────────────────┤
│ 2020-02-01 10:33:00 │
│ 2020-02-01 15:43:00 │
│ 2020-02-01 15:43:00 │
│ 2020-01-31 08:15:00 │
│ 2020-02-01 18:12:00 │
│ 2020-01-31 08:15:00 │
│ 2020-01-31 08:15:00 │
│ 2020-02-01 19:43:00 │
│ 2020-02-01 11:53:00 │
│ 2020-02-01 11:53:00 │
│ 2020-02-01 19:53:00 │
│ 2020-02-01 11:53:00 │
│ 2020-02-01 11:53:00 │
│ 2020-02-01 11:53:00 │
│ 2020-02-01 18:12:00 │
│ 2020-02-01 19:43:00 │
│ 2020-02-01 11:53:00 │
│ 2020-02-01 11:53:00 │
│ 2020-02-01 14:23:00 │
│ 2020-01-31 08:15:00 │
├─────────────────────┤
│       20 rows       │
└─────────────────────┘

In [58]:
"""
1/23/20 17:00 => 13 characters
4/6/20 23:22 => 12 characters
3/8/20 5:19 => 11 characters
"""
con.sql("""
    WITH t1 AS (
        SELECT LENGTH(last_update) AS len_last_update, *
        FROM covid19_raw.raw_github_csse_daily
    )
    SELECT try_strptime(last_update, '%-m/%-d/%-y %-H:%-M') AS c_last_update
    FROM t1
    WHERE len_last_update = 13
    LIMIT 20;
""")

┌─────────────────────┐
│    c_last_update    │
│      timestamp      │
├─────────────────────┤
│ 2020-01-23 17:00:00 │
│ 2020-01-23 17:00:00 │
│ 2020-01-23 17:00:00 │
│ 2020-01-23 17:00:00 │
│ 2020-01-23 17:00:00 │
│ 2020-01-23 17:00:00 │
│ 2020-01-23 17:00:00 │
│ 2020-01-23 17:00:00 │
│ 2020-01-23 17:00:00 │
│ 2020-01-23 17:00:00 │
│ 2020-01-23 17:00:00 │
│ 2020-01-23 17:00:00 │
│ 2020-01-23 17:00:00 │
│ 2020-01-23 17:00:00 │
│ 2020-01-23 17:00:00 │
│ 2020-01-23 17:00:00 │
│ 2020-01-23 17:00:00 │
│ 2020-01-23 17:00:00 │
│ 2020-01-23 17:00:00 │
│ 2020-01-23 17:00:00 │
├─────────────────────┤
│       20 rows       │
└─────────────────────┘

In [65]:


con.sql("""
    WITH t1 AS (
        SELECT COALESCE(
            try_strptime(last_update, '%Y-%m-%dT%H:%M:%S'),
            try_strptime(last_update, '%Y-%m-%d %H:%M:%S'),
            try_strptime(last_update, '%Y-%m-%d %H:%M'),
            try_strptime(last_update, '%-m/%-d/%Y %H:%M'),
            try_strptime(last_update, '%-m/%-d/%-y %-H:%-M'),
            try_strptime(last_update, '%-m/%-d/%Y %H:%M')
        ) AS c_last_update,
        last_update
        FROM covid19_raw.raw_github_csse_daily
    )
    SELECT *
    FROM t1
""")

┌───────────────┬─────────────┐
│ c_last_update │ last_update │
│   timestamp   │   varchar   │
├───────────────┴─────────────┤
│           0 rows            │
└─────────────────────────────┘

In [90]:
con.sql("SELECT * FROM covid19_raw.raw_github_csse_daily WHERE active > 0 LIMIT 20")

┌──────────────────────────────────┬───────────┬────────┬───────────┬────────┬────────────────────┬────────────────┬─────────────────────┬─────────────────────┬─────────────────────┬───────┬───────┬───────┐
│                id                │ confirmed │ deaths │ recovered │ active │   incident_rate    │ incidence_rate │ case_fatality_ratio │     last_update     │      load_date      │ year  │ month │  day  │
│             varchar              │  double   │ double │  double   │ int64  │       double       │     double     │       double        │       varchar       │      timestamp      │ int64 │ int64 │ int64 │
├──────────────────────────────────┼───────────┼────────┼───────────┼────────┼────────────────────┼────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼───────┼───────┼───────┤
│ d044dd74e9765cfd76636341047342ae │       1.0 │    0.0 │       0.0 │      1 │ 0.9461006461867414 │           NULL │                 0.0 │ 2021-11-01 04:22:01 │ 2021-10-31 00:00:00 │  2021 │    10 │    31 │
│ 9a537cafdcc51e9004938fd70ccc637c │       1.0 │    0.0 │       0.0 │      1 │ 0.9461006461867414 │           NULL │                 0.0 │ 2021-10-31 04:22:08 │ 2021-10-30 00:00:00 │  2021 │    10 │    30 │
│ 729716f2c0e284b74c74b443b4279da8 │       1.0 │    0.0 │       0.0 │      1 │ 0.9461006461867414 │           NULL │                 0.0 │ 2021-10-30 04:22:03 │ 2021-10-29 00:00:00 │  2021 │    10 │    29 │
│ 1968cfd2ad1834d45dd4d9be93a1657c │    3371.0 │   56.0 │    2542.0 │    773 │  1324.037706205813 │           NULL │  1.6612281222189262 │ 2021-09-23 04:21:43 │ 2021-09-22 00:00:00 │  2021 │     9 │    22 │
│ 26d53129091cf2cf627deede0398c7d0 │  128551.0 │ 1710.0 │  117622.0 │   9219 │  5880.918614758223 │           NULL │  1.3302113558043112 │ 2021-09-23 04:21:43 │ 2021-09-22 00:00:00 │  2021 │     9 │    22 │
│ fb950409a2caf36aa45eccd85518468a │  664024.0 │ 8880.0 │  624641.0 │  30503 │ 10150.323300570171 │           NULL │   1.337301061407419 │ 2021-09-23 04:21:43 │ 2021-09-22 00:00:00 │  2021 │     9 │    22 │
│ 5fbdd80ffc5dd5569aed2f188d5f61dd │   50190.0 │  333.0 │   40876.0 │   8981 │  4014.878809695224 │           NULL │  0.6634787806335923 │ 2021-09-23 04:21:43 │ 2021-09-22 00:00:00 │  2021 │     9 │    22 │
│ 94f5c27c37e0fb6091238012bbbfe5c5 │   94842.0 │  775.0 │   81005.0 │  13062 │  3772.103567593366 │           NULL │  0.8171485206975813 │ 2021-09-23 04:21:43 │ 2021-09-22 00:00:00 │  2021 │     9 │    22 │
│ 81acb23ba904e8949e1a28598af68146 │    9936.0 │  148.0 │    9727.0 │     61 │  9995.975855130784 │           NULL │  1.4895330112721417 │ 2021-09-23 04:21:43 │ 2021-09-22 00:00:00 │  2021 │     9 │    22 │
│ 5564f3d1776f73d640169f55d1a08455 │    5955.0 │   22.0 │    5552.0 │    381 │ 5649.9051233396585 │           NULL │  0.3694374475230898 │ 2021-09-23 04:21:43 │ 2021-09-22 00:00:00 │  2021 │     9 │    22 │
│ bdcad5264c0bbf5b9c7b97363469155a │   96054.0 │ 1187.0 │   92943.0 │   1924 │  8484.586167299709 │           NULL │  1.2357632165240386 │ 2021-09-23 04:21:43 │ 2021-09-22 00:00:00 │  2021 │     9 │    22 │
│ bda7cb283926c681f0d375793c097da2 │  106330.0 │  725.0 │   93392.0 │  12213 │ 5619.3848430398475 │           NULL │  0.6818395560989373 │ 2021-09-23 04:21:43 │ 2021-09-22 00:00:00 │  2021 │     9 │    22 │
│ 5a51542f1212a4fa1d0cce041ee187fe │   55728.0 │  824.0 │   50756.0 │   4148 │  5974.911547121261 │           NULL │  1.4786103933390755 │ 2021-09-23 04:21:43 │ 2021-09-22 00:00:00 │  2021 │     9 │    22 │
│ 3b5b52c4e6c1bfcf31492561e17c6147 │  122595.0 │ 1197.0 │  107603.0 │  13795 │  6896.658415841584 │           NULL │  0.9763856601003305 │ 2021-09-23 04:21:43 │ 2021-09-22 00:00:00 │  2021 │     9 │    22 │
│ 183edc4dd4fe864ace2ff60f49d7dbbd │  188843.0 │  710.0 │  145032.0 │  43101 │  6701.075192505589 │           NULL │  0.3759736924323379 │ 2021-09-23 04:21:43 │ 2021-09-22 00:00:00 │  2021 │     9 │    22 │
│ adaf40ad81cee0b3ba0928395d1a5a29 │  183867.0 │ 2392.0 │  176021.0 │   5454 │ 10338.900134952766 │           NULL │   1.300940353625175 │ 2021-09-23 04:21:43 │ 2021-09-22 00:00:00 │  2021 │     9 │    22 │
│ 64b90c2ba1b649f2b2c931ac04dcab54 │  184221.0 │ 3012.0 │  152550.0 │  28659 │  4888.832864497638 │           NULL │  1.6349927532691713 │ 2021-09-23 04:21:43 │ 2021-09-22 00:00:00 │  2021 │     9 │    22 │
│ 2fcec11236180c179befe2be31e2b008 │   59094.0 │  557.0 │   48737.0 │   9800 │ 3523.5823743366527 │           NULL │  0.9425660811588316 │ 2021-09-23 04:21:43 │ 2021-09-22 00:00:00 │  2021 │     9 │    22 │
│ dc57c456b4caa4d792d4975d42a34dce │  189323.0 │ 2037.0 │  168086.0 │  19200 │  4848.592721591927 │           NULL │  1.0759390037132308 │ 2021-09-23 04:21:43 │ 2021-09-22 00:00:00 │  2021 │     9 │    22 │
│ f5060ea6d3ce3badd04027cd7ef0c7ea │  104757.0 │  699.0 │   92120.0 │  11938 │  5536.254095761547 │           NULL │  0.6672585125576334 │ 2021-09-22 04:21:45 │ 2021-09-21 00:00:00 │  2021 │     9 │    21 │
├──────────────────────────────────┴───────────┴────────┴───────────┴────────┴────────────────────┴────────────────┴─────────────────────┴─────────────────────┴─────────────────────┴───────┴───────┴───────┤
│ 20 rows                                                                                                                                                                                         13 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [73]:
con.sql("""
    SELECT COUNT(CASE WHEN confirmed IS NULL THEN 1 ELSE NULL END) AS confirmed_null,
        COUNT(CASE WHEN deaths IS NULL THEN 1 ELSE NULL END) AS deaths_null,
        COUNT(CASE WHEN recovered IS NULL THEN 1 ELSE NULL END) AS recovered_null,
        COUNT(CASE WHEN active IS NULL THEN 1 ELSE NULL END) AS active_null,
        COUNT(CASE WHEN incident_rate IS NULL THEN 1 ELSE NULL END) AS incident_rate_null,
        COUNT(CASE WHEN case_fatality_ratio IS NULL THEN 1 ELSE NULL END) AS case_fatality_ratio_null
    FROM covid19_raw.raw_github_csse_daily 
""")

┌────────────────┬─────────────┬────────────────┬─────────────┬────────────────────┬──────────────────────────┐
│ confirmed_null │ deaths_null │ recovered_null │ active_null │ incident_rate_null │ case_fatality_ratio_null │
│     int64      │    int64    │     int64      │    int64    │       int64        │          int64           │
├────────────────┼─────────────┼────────────────┼─────────────┼────────────────────┼──────────────────────────┤
│             28 │         433 │        2683864 │     2693277 │             945434 │                   272460 │
└────────────────┴─────────────┴────────────────┴─────────────┴────────────────────┴──────────────────────────┘

In [75]:
con.sql("""
    SELECT MIN(confirmed),
           AVG(confirmed),
           MAX(confirmed)
    FROM covid19_raw.raw_github_csse_daily 
""")

┌────────────────┬───────────────────┬────────────────┐
│ min(confirmed) │  avg(confirmed)   │ max(confirmed) │
│     double     │      double       │     double     │
├────────────────┼───────────────────┼────────────────┤
│      -302844.0 │ 70638.85375641855 │     38487384.0 │
└────────────────┴───────────────────┴────────────────┘

In [76]:
con.sql("""
    SELECT COUNT(1)
    FROM covid19_raw.raw_github_csse_daily 
    WHERE confirmed < 0
""")

┌──────────┐
│ count(1) │
│  int64   │
├──────────┤
│        4 │
└──────────┘

In [77]:
con.sql("""
    SELECT MIN(deaths),
           AVG(deaths),
           MAX(deaths)
    FROM covid19_raw.raw_github_csse_daily 
""")

┌─────────────┬────────────────────┬─────────────┐
│ min(deaths) │    avg(deaths)     │ max(deaths) │
│   double    │       double       │   double    │
├─────────────┼────────────────────┼─────────────┤
│      -178.0 │ 1007.1828728022742 │    185641.0 │
└─────────────┴────────────────────┴─────────────┘

In [78]:
con.sql("""
    SELECT COUNT(1)
    FROM covid19_raw.raw_github_csse_daily 
    WHERE deaths < 0
""")

┌──────────┐
│ count(1) │
│  int64   │
├──────────┤
│        5 │
└──────────┘

In [79]:
con.sql("""
    SELECT MIN(recovered),
           AVG(recovered),
           MAX(recovered)
    FROM covid19_raw.raw_github_csse_daily 
""")

┌────────────────┬────────────────────┬────────────────┐
│ min(recovered) │   avg(recovered)   │ max(recovered) │
│     double     │       double       │     double     │
├────────────────┼────────────────────┼────────────────┤
│      -854405.0 │ 16152.045607604488 │      6399531.0 │
└────────────────┴────────────────────┴────────────────┘

In [80]:
con.sql("""
    SELECT COUNT(1)
    FROM covid19_raw.raw_github_csse_daily 
    WHERE recovered < 0
""")

┌──────────┐
│ count(1) │
│  int64   │
├──────────┤
│        3 │
└──────────┘

In [81]:
con.sql("""
    SELECT MIN(active),
           AVG(active),
           MAX(active)
    FROM covid19_raw.raw_github_csse_daily 
""")

┌─────────────┬────────────────────┬─────────────┐
│ min(active) │    avg(active)     │ max(active) │
│    int64    │       double       │    int64    │
├─────────────┼────────────────────┼─────────────┤
│           0 │ 7469.3125108649165 │     5658278 │
└─────────────┴────────────────────┴─────────────┘

In [86]:
con.sql("""
    SELECT MIN(incident_rate),
           AVG(incident_rate),
           MAX(incident_rate),
           MEDIAN(incident_rate)
    FROM covid19_raw.raw_github_csse_daily 
""")

┌────────────────────┬────────────────────┬────────────────────┬───────────────────────┐
│ min(incident_rate) │ avg(incident_rate) │ max(incident_rate) │ median(incident_rate) │
│       double       │       double       │       double       │        double         │
├────────────────────┼────────────────────┼────────────────────┼───────────────────────┤
│                0.0 │  16507.17332360432 │   2164021.75951979 │    14572.143730514888 │
└────────────────────┴────────────────────┴────────────────────┴───────────────────────┘

In [85]:
con.sql("""
    SELECT MIN(case_fatality_ratio),
           AVG(case_fatality_ratio),
           MAX(case_fatality_ratio),
           MEDIAN(case_fatality_ratio)
    FROM covid19_raw.raw_github_csse_daily 
""")

┌──────────────────────────┬──────────────────────────┬──────────────────────────┬─────────────────────────────┐
│ min(case_fatality_ratio) │ avg(case_fatality_ratio) │ max(case_fatality_ratio) │ median(case_fatality_ratio) │
│          double          │          double          │          double          │           double            │
├──────────────────────────┼──────────────────────────┼──────────────────────────┼─────────────────────────────┤
│                      0.0 │        2.705073356417832 │                  29600.0 │          1.4961915125136018 │
└──────────────────────────┴──────────────────────────┴──────────────────────────┴─────────────────────────────┘

In [92]:
con.sql("SELECT file_md5, load_date FROM delta_scan('s3://covid-data-pipeline/covid19/github_csse_daily') WHERE active > 0 ORDER BY load_date DESC LIMIT 20")

┌──────────────────────────────────┬─────────────────────┐
│             file_md5             │      load_date      │
│             varchar              │      timestamp      │
├──────────────────────────────────┼─────────────────────┤
│ 1de450a5c1a871be31451bd262f3fcb6 │ 2021-10-31 00:00:00 │
│ a297ffde7bf15463a5799b5cdf5266c7 │ 2021-10-30 00:00:00 │
│ c1a3b944c9417545a6f7de1c90d12059 │ 2021-10-29 00:00:00 │
│ 0f54805f0d28b0f391a4ac20d34953bd │ 2021-09-22 00:00:00 │
│ 0f54805f0d28b0f391a4ac20d34953bd │ 2021-09-22 00:00:00 │
│ 0f54805f0d28b0f391a4ac20d34953bd │ 2021-09-22 00:00:00 │
│ 0f54805f0d28b0f391a4ac20d34953bd │ 2021-09-22 00:00:00 │
│ 0f54805f0d28b0f391a4ac20d34953bd │ 2021-09-22 00:00:00 │
│ 0f54805f0d28b0f391a4ac20d34953bd │ 2021-09-22 00:00:00 │
│ 0f54805f0d28b0f391a4ac20d34953bd │ 2021-09-22 00:00:00 │
│ 0f54805f0d28b0f391a4ac20d34953bd │ 2021-09-22 00:00:00 │
│ 0f54805f0d28b0f391a4ac20d34953bd │ 2021-09-22 00:00:00 │
│ 0f54805f0d28b0f391a4ac20d34953bd │ 2021-09-22 00:00:00 │
│ 0f54805f0d28b0f391a4ac20d34953bd │ 2021-09-22 00:00:00 │
│ 0f54805f0d28b0f391a4ac20d34953bd │ 2021-09-22 00:00:00 │
│ 0f54805f0d28b0f391a4ac20d34953bd │ 2021-09-22 00:00:00 │
│ 0f54805f0d28b0f391a4ac20d34953bd │ 2021-09-22 00:00:00 │
│ 0f54805f0d28b0f391a4ac20d34953bd │ 2021-09-22 00:00:00 │
│ 0f54805f0d28b0f391a4ac20d34953bd │ 2021-09-22 00:00:00 │
│ 52fb1f8bd887f8937664cd2fa3bdce83 │ 2021-09-21 00:00:00 │
├──────────────────────────────────┴─────────────────────┤
│ 20 rows                                      2 columns │
└────────────────────────────────────────────────────────┘

In [ ]:


con.sql("SELECT * FROM covid19_raw.raw_github_csse_daily LIMIT 10")

In [132]:
con.sql("""
SELECT id,
       combined_key,
       province_state,
       country_region,
       confirmed * 100000 / coalesce(incident_rate, incidence_rate) AS population,
       confirmed,
       latitude,
       longitude,
       deaths,
       recovered,
       active,
       incident_rate,
       incidence_rate,
       case_fatality_ratio,
       last_update,
       load_date, 
       file_md5
FROM delta_scan('s3://covid-data-pipeline/covid19/github_csse_daily') 
WHERE combined_key = 'Alberta, Canada'
ORDER BY load_date DESC 
LIMIT 50
""")

In [ ]:
con.sql("""
    SELECT gh.load_date,
           cl.location_id,
           cl.admin2,
           TRIM(cl.combined_key, ','),
           deaths AS deaths,
           COALESCE(
            deaths,
            LAST(deaths IGNORE NULLS) OVER (PARTITION BY location_id ORDER BY last_update ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW)
        ) AS deaths,
    FROM cleansed_github_csse_daily AS gh
    JOIN cleansed_location AS cl ON cl.location_key = gh.id
 WHERE combined_key = 'British Columbia, Canada'
    
--     ORDER BY location_id, last_update 
    LIMIT 10000
""").to_df()

In [6]:
gh_df = con.sql("""
WITH t1 AS (
    SELECT CASE 
                WHEN admin2 IN ('Unassigned', 'Unknown') AND province_state IN ('Unassigned', 'Unknown') THEN 1
                WHEN  admin2 IN ('Unassigned', 'Unknown') AND province_state NOT IN ('Unassigned', 'Unknown') THEN 2
                ELSE 3
           END AS administrative_area_level,
           cl.*,
           gh.*
    FROM cleansed_github_csse_daily AS gh
    JOIN cleansed_location AS cl ON cl.location_key = gh.id
)
SELECT *
FROM t1
WHERE administrative_area_level = 3
""").to_df()

In [22]:
gh_df.shape

(3336784, 22)

In [2]:
import sqlite3
import pandas as pd

In [3]:
sqlite_conn = sqlite3.connect("latest.db")

In [4]:
cursor = sqlite_conn.cursor()

In [7]:
epidemoelogy_df = pd.read_sql("SELECT t.id, t.date AS date_2, administrative_area_level, l.administrative_area_level_1 AS country, l.administrative_area_level_2 AS state, COALESCE(administrative_area_level_3, 'Unassigned') AS city, t.confirmed, t.deaths, t.recovered, t.tests, t.vaccines, t.people_vaccinated, t.people_fully_vaccinated, t.hosp, t.icu, t.vent FROM timeseries t JOIN location l ON l.id = t.id WHERE administrative_area_level = 3 AND date <= '2023-03-09'", con=sqlite_conn)
epidemoelogy_df.to_csv("epidemoelogy.csv", index=False)
del epidemoelogy_df
policies_df1 = pd.read_sql("SELECT t.id, t.date AS date_2, administrative_area_level, l.administrative_area_level_1 AS country, l.administrative_area_level_2 AS state, COALESCE(administrative_area_level_3, 'Unassigned') AS city, t.stringency_index, t.containment_health_index, economic_support_index FROM timeseries t JOIN location l ON l.id = t.id WHERE administrative_area_level = 3 AND date <= '2023-03-09'", con=sqlite_conn)
policies_df1.to_csv("index_policies.csv", index=False)
del policies_df1
policies_df2 = pd.read_sql("SELECT t.id, l.population, school_closing, workplace_closing, cancel_events, gatherings_restrictions, transport_closing, stay_home_restrictions, internal_movement_restrictions, international_movement_restrictions, information_campaigns, testing_policy, contact_tracing, facial_coverings, vaccination_policy, elderly_people_protection FROM timeseries t JOIN location l ON l.id = t.id WHERE administrative_area_level = 3 AND date <= '2023-03-09'", con=sqlite_conn)
policies_df2.to_csv("policy_measures.csv", index=False)
del policies_df2

In [12]:
helper_df.shape

(12054910, 16)

In [ ]:
helper_df.to_csv("covid19_datahub.csv", index=False)

In [78]:
helper_df[["date_2", "country", "state", "city",  "confirmed", "deaths", "recovered"]].tail(10)

,date_2,country,state,city,confirmed,deaths,recovered
780732,2023-02-07,Belgium,Ostbelgien,Unassigned,NaN,NaN,NaN
780733,2023-02-08,Belgium,Ostbelgien,Unassigned,NaN,NaN,NaN
780734,2023-02-09,Belgium,Ostbelgien,Unassigned,NaN,NaN,NaN
780735,2023-02-14,Belgium,Ostbelgien,Unassigned,NaN,NaN,NaN
780736,2023-02-15,Belgium,Ostbelgien,Unassigned,NaN,NaN,NaN
780737,2023-02-16,Belgium,Ostbelgien,Unassigned,NaN,NaN,NaN
780738,2023-02-17,Belgium,Ostbelgien,Unassigned,NaN,NaN,NaN
780739,2023-02-24,Belgium,Ostbelgien,Unassigned,NaN,NaN,NaN
780740,2023-03-03,Belgium,Ostbelgien,Unassigned,NaN,NaN,NaN
780741,2023-03-07,Belgium,Ostbelgien,Unassigned,NaN,NaN,NaN

In [19]:
x = pd.merge(
    gh_df,
    helper_df,
    how="left",
    left_on=["load_date", "country_region", "province_state", "admin2"],
    right_on=["date_2", "country", "state", "city"]
)

In [15]:
helper_df[["date_2", "country", "state", "city"]].head(100)

       date_2 country    state              city
0  2020-03-19  Latvia  Vidzeme  Burtnieku novads
1  2020-03-20  Latvia  Vidzeme  Burtnieku novads
2  2020-03-21  Latvia  Vidzeme  Burtnieku novads
3  2020-03-22  Latvia  Vidzeme  Burtnieku novads
4  2020-03-23  Latvia  Vidzeme  Burtnieku novads
5  2020-03-24  Latvia  Vidzeme  Burtnieku novads
6  2020-03-25  Latvia  Vidzeme  Burtnieku novads
7  2020-03-26  Latvia  Vidzeme  Burtnieku novads
8  2020-03-27  Latvia  Vidzeme  Burtnieku novads
9  2020-03-28  Latvia  Vidzeme  Burtnieku novads
10 2020-03-29  Latvia  Vidzeme  Burtnieku novads
11 2020-03-30  Latvia  Vidzeme  Burtnieku novads
12 2020-03-31  Latvia  Vidzeme  Burtnieku novads
13 2020-04-01  Latvia  Vidzeme  Burtnieku novads
14 2020-04-02  Latvia  Vidzeme  Burtnieku novads
15 2020-04-03  Latvia  Vidzeme  Burtnieku novads
16 2020-04-04  Latvia  Vidzeme  Burtnieku novads
17 2020-04-05  Latvia  Vidzeme  Burtnieku novads
18 2020-04-06  Latvia  Vidzeme  Burtnieku novads
19 2020-04-07  Latvia  Vidzeme  Burtnieku novads
20 2020-04-08  Latvia  Vidzeme  Burtnieku novads
21 2020-04-09  Latvia  Vidzeme  Burtnieku novads
22 2020-04-10  Latvia  Vidzeme  Burtnieku novads
23 2020-04-11  Latvia  Vidzeme  Burtnieku novads
24 2020-04-12  Latvia  Vidzeme  Burtnieku novads
25 2020-04-13  Latvia  Vidzeme  Burtnieku novads
26 2020-04-14  Latvia  Vidzeme  Burtnieku novads
27 2020-04-15  Latvia  Vidzeme  Burtnieku novads
28 2020-04-16  Latvia  Vidzeme  Burtnieku novads
29 2020-04-17  Latvia  Vidzeme  Burtnieku novads
30 2020-04-18  Latvia  Vidzeme  Burtnieku novads
31 2020-04-19  Latvia  Vidzeme  Burtnieku novads
32 2020-04-20  Latvia  Vidzeme  Burtnieku novads
33 2020-04-21  Latvia  Vidzeme  Burtnieku novads
34 2020-04-22  Latvia  Vidzeme  Burtnieku novads
35 2020-04-23  Latvia  Vidzeme  Burtnieku novads
36 2020-04-24  Latvia  Vidzeme  Burtnieku novads
37 2020-04-25  Latvia  Vidzeme  Burtnieku novads
38 2020-04-26  Latvia  Vidzeme  Burtnieku novads
39 2020-04-27  Latvia  Vidzeme  Burtnieku novads
40 2020-04-28  Latvia  Vidzeme  Burtnieku novads
41 2020-04-29  Latvia  Vidzeme  Burtnieku novads
42 2020-04-30  Latvia  Vidzeme  Burtnieku novads
43 2020-05-01  Latvia  Vidzeme  Burtnieku novads
44 2020-05-02  Latvia  Vidzeme  Burtnieku novads
45 2020-05-03  Latvia  Vidzeme  Burtnieku novads
46 2020-05-04  Latvia  Vidzeme  Burtnieku novads
47 2020-05-05  Latvia  Vidzeme  Burtnieku novads
48 2020-05-06  Latvia  Vidzeme  Burtnieku novads
49 2020-05-07  Latvia  Vidzeme  Burtnieku novads
50 2020-05-08  Latvia  Vidzeme  Burtnieku novads
51 2020-05-09  Latvia  Vidzeme  Burtnieku novads
52 2020-05-10  Latvia  Vidzeme  Burtnieku novads
53 2020-05-11  Latvia  Vidzeme  Burtnieku novads
54 2020-05-12  Latvia  Vidzeme  Burtnieku novads
55 2020-05-13  Latvia  Vidzeme  Burtnieku novads
56 2020-05-14  Latvia  Vidzeme  Burtnieku novads
57 2020-05-15  Latvia  Vidzeme  Burtnieku novads
58 2020-05-16  Latvia  Vidzeme  Burtnieku novads
59 2020-05-17  Latvia  Vidzeme  Burtnieku novads
60 2020-05-18  Latvia  Vidzeme  Burtnieku novads
61 2020-05-19  Latvia  Vidzeme  Burtnieku novads
62 2020-05-20  Latvia  Vidzeme  Burtnieku novads
63 2020-05-21  Latvia  Vidzeme  Burtnieku novads
64 2020-05-22  Latvia  Vidzeme  Burtnieku novads
65 2020-05-23  Latvia  Vidzeme  Burtnieku novads
66 2020-05-24  Latvia  Vidzeme  Burtnieku novads
67 2020-05-25  Latvia  Vidzeme  Burtnieku novads
68 2020-05-26  Latvia  Vidzeme  Burtnieku novads
69 2020-05-27  Latvia  Vidzeme  Burtnieku novads
70 2020-05-28  Latvia  Vidzeme  Burtnieku novads
71 2020-05-29  Latvia  Vidzeme  Burtnieku novads
72 2020-05-30  Latvia  Vidzeme  Burtnieku novads
73 2020-05-31  Latvia  Vidzeme  Burtnieku novads
74 2020-06-01  Latvia  Vidzeme  Burtnieku novads
75 2020-06-02  Latvia  Vidzeme  Burtnieku novads
76 2020-06-03  Latvia  Vidzeme  Burtnieku novads
77 2020-06-04  Latvia  Vidzeme  Burtnieku novads
78 2020-06-05  Latvia  Vidzeme  Burtnieku novads
79 2020-06-06  Latvia  Vidzeme  Burtnieku novads
80 2020-06-07  Latvia  Vidzeme  Burtnieku novads
81 2020-06-08  Latvia  Vidzeme  Burtnieku novads
82 2020-06-09  Latvia  Vidzeme  Burtnieku novads
83 2020-06-10  Latvia  Vidzeme  Burtnieku novads
84 2020-06-11  Latvia  Vidzeme  Burtnieku novads
85 2020-06-12  Latvia  Vidzeme  Burtnieku novads
86 2020-06-13  Latvia  Vidzeme  Burtnieku novads
87 2020-06-14  Latvia  Vidzeme  Burtnieku novads
88 2020-06-15  Latvia  Vidzeme  Burtnieku novads
89 2020-06-16  Latvia  Vidzeme  Burtnieku novads
90 2020-06-17  Latvia  Vidzeme  Burtnieku novads
91 2020-06-18  Latvia  Vidzeme  Burtnieku novads
92 2020-06-19  Latvia  Vidzeme  Burtnieku novads
93 2020-06-20  Latvia  Vidzeme  Burtnieku novads
94 2020-06-21  Latvia  Vidzeme  Burtnieku novads
95 2020-06-22  Latvia  Vidzeme  Burtnieku novads
96 2020-06-23  Latvia  Vidzeme  Burtnieku novads
97 2020-06-24  Latvia  Vidzeme  Burtnieku novads
98 2020-06-25  Latvia  Vidzeme  Burtnieku novads
99 2020-06-26  Latvia  Vidzeme  Burtnieku novads

In [40]:
gh_df[["load_date", "country_region", "province_state", "admin2", "confirmed", "deaths", "recovered"]].tail(10)

,load_date,country_region,province_state,admin2,confirmed,deaths,recovered
4197101,2020-01-27,Mainland China,Hebei,Unassigned,18.0,1.0,NaN
4197102,2020-01-27,Summer Olympics 2020,Unassigned,Unassigned,0.0,0.0,0.0
4197103,2020-01-27,Malaysia,Johor,Unassigned,0.0,0.0,0.0
4197104,2020-01-27,Malaysia,W.P. Labuan,Unassigned,0.0,0.0,0.0
4197105,2020-01-27,Mainland China,Hubei,Unassigned,1423.0,76.0,45.0
4197106,2020-01-27,Mainland China,Beijing,Unassigned,80.0,1.0,2.0
4197107,2020-01-27,Mainland China,Heilongjiang,Unassigned,21.0,1.0,NaN
4197108,2020-01-27,Mainland China,Gansu,Unassigned,14.0,NaN,NaN
4197109,2020-01-27,Malaysia,Terengganu,Unassigned,0.0,0.0,0.0
4197110,2020-01-27,Antarctica,Unassigned,Unassigned,0.0,0.0,0.0

In [20]:
x[["load_date", "country_region", "province_state", "admin2", "confirmed_x", "deaths_x", "recovered_x", "date_2", "country", "state", "city", "confirmed_y", "deaths_y", "recovered_y", "vaccines"]].head(100)

,load_date,country_region,province_state,admin2,confirmed_x,deaths_x,recovered_x,date_2,country,state,city,confirmed_y,deaths_y,recovered_y,vaccines
0,2023-01-12,Malaysia,Pulau Pinang,Unassigned,307228.0,2064.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-01-12,New Zealand,Niue,Unassigned,699.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-01-12,US,Connecticut,Unassigned,3192.0,11.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-01-12,US,Georgia,Out of GA,97487.0,1610.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-01-12,US,Illinois,Out of IL,3.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2023-01-12,US,Louisiana,Out of LA,0.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2023-01-12,US,North Dakota,Unassigned,0.0,196.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2023-01-12,US,Puerto Rico,Out of PR,434.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2023-01-12,US,Rhode Island,Unassigned,29887.0,2.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2023-01-12,US,Virginia,Unassigned,0.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2023-01-12,US,Washington,Unassigned,3305.0,6.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2023-01-12,US,Wyoming,Unassigned,0.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2023-01-12,United Kingdom,Wales,Unassigned,895053.0,11392.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2023-01-12,Australia,Western Australia,Unassigned,1270544.0,856.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2023-01-12,Canada,Repatriated Travellers,Unassigned,13.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2023-01-12,Australia,Queensland,Unassigned,1771741.0,2526.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2023-01-12,Canada,Ontario,Unassigned,1567037.0,15717.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2023-01-12,MS Zaandam,Unassigned,Unassigned,9.0,2.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2023-01-12,Malaysia,Sarawak,Unassigned,324044.0,1784.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2023-01-12,US,Georgia,Unassigned,12723.0,1.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2023-01-12,US,Illinois,Unassigned,778.0,4933.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2023-01-12,US,New Jersey,Unassigned,1673.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2023-01-12,US,Oklahoma,Out of OK,0.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2023-01-12,United Kingdom,Guernsey,Unassigned,34397.0,69.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2023-01-12,United Kingdom,Northern Ireland,Unassigned,713294.0,5098.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2023-01-12,Canada,Grand Princess,Unassigned,13.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2023-01-12,Japan,Port Quarantine,Unassigned,22118.0,8.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2023-01-12,Malaysia,Johor,Unassigned,397992.0,4701.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2023-01-12,US,California,Unassigned,4495.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2023-01-12,US,Nebraska,Unassigned,16842.0,77.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2023-01-12,US,Tennessee,Unassigned,42056.0,248.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2023-01-12,Chile,Unassigned,Unassigned,42.0,2.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,2023-01-12,Japan,Unassigned,Unassigned,173.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,2023-01-12,Malaysia,Perak,Unassigned,238720.0,2121.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2023-01-12,Peru,Unassigned,Unassigned,3593.0,90.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,2023-01-12,US,Alabama,Out of AL,0.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,2023-01-12,US,Michigan,Michigan Department of Corrections (MDOC),41869.0,181.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,2023-01-12,US,Michigan,Unassigned,26.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,2023-01-12,US,Nevada,Unassigned,11429.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,2023-01-12,US,Maine,Out of ME,0.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,2023-01-12,US,Michigan,Out of MI,9223.0,53.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,2023-01-12,US,North Carolina,Unassigned,0.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,2023-01-12,US,Ohio,Unassigned,0.0,6.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,2023-01-12,US,Utah,Unassigned,4547.0,9.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,2023-01-12,Ukraine,Unassigned,Unassigned,551728.0,5354.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,2023-01-12,United Kingdom,England,Unassigned,20489558.0,184322.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,2023-01-12,Malaysia,Unassigned,Unassigned,0.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,2023-01-12,Malaysia,W.P. Kuala Lumpur,Unassigned,467171.0,2858.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,2023-01-12,Netherlands,Unassigned,Unassigned,0.0,2.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,2023-01-12,US,Grand Princess,Unassigned,103.0,3.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,2023-01-12,Malaysia,Kelantan,Unassigned,259974.0,1424.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,2023-01-12,US,Alabama,Unassigned,0.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,2023-01-12,US,Iowa,Unassigned,4.0,1.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,2023-01-12,US,Massachusetts,Dukes and Nantucket,8222.0,26.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,2023-01-12,US,Missouri,Unassigned,0.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,2023-01-12,US,Montana,Unassigned,0.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,2023-01-12,Malaysia,Negeri Sembilan,Unassigned,230762.0,1534.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,2023-01-12,United Kingdom,Pitcairn Islands,Unassigned,4.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,2023-01-12,US,Colorado,Out of CO,0.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,2023-01-12,Belgium,Unassigned,Unassigned,62878.0,33478.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,2023-01-12,US,Oklahoma,Unassigned,153.0,2079.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,2023-01-12,US,New Mexico,Dona Ana,75980.0,926.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,2023-01-12,Malaysia,Sabah,Unassigned,406702.0,3200.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,2023-01-12,US,West Virginia,Unassigned,0.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,2023-01-12,Malaysia,Kedah,Unassigned,318359.0,2735.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,2023-01-12,India,Unassigned,Unassigned,0.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,2023-01-12,US,Hawaii,Unassigned,0.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,2023-01-12,Malaysia,Pahang,Unassigned,182526.0,1030.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,2023-01-12,China,Unassigned,Unassigned,1521816.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,2023-01-12,US,South Dakota,Unassigned,0.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,2023-01-12,US,Connecticut,Unassigned,3192.0,11.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,2023-01-12,US,North Dakota,Unassigned,0.0,196.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,2023-01-12,US,Rhode Island,Unassigned,29887.0,2.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,2023-01-12,US,Virginia,Unassigned,0.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,2023-01-12,US,Washington,Unassigned,3305.0,6.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,2023-01-12,US,Wyoming,Unassigned,0.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,2023-01-12,US,Georgia,Unassigned,12723.0,1.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,2023-01-12,US,Illinois,Unassigned,778.0,4933.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,2023-01-12,US,New Jersey,Unassigned,1673.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,2023-01-12,US,California,Unassigned,4495.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,2023-01-12,US,Nebraska,Unassigned,16842.0,77.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,2023-01-12,US,Tennessee,Unassigned,42056.0,248.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,2023-01-12,Japan,Unassigned,Unassigned,173.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,2023-01-12,US,Nevada,Unassigned,11429.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,2023-01-12,US,Michigan,Out of MI,9223.0,53.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,2023-01-12,US,North Carolina,Unassigned,0.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,2023-01-12,Ukraine,Unassigned,Unassigned,551728.0,5354.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,2023-01-12,Malaysia,Unassigned,Unassigned,0.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,2023-01-12,Netherlands,Unassigned,Unassigned,0.0,2.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,2023-01-12,US,Alabama,Unassigned,0.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,2023-01-12,US,Iowa,Unassigned,4.0,1.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,2023-01-12,US,Missouri,Unassigned,0.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,2023-01-12,US,Montana,Unassigned,0.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,2023-01-12,Belgium,Unassigned,Unassigned,62878.0,33478.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,2023-01-12,US,Oklahoma,Unassigned,153.0,2079.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,2023-01-12,India,Unassigned,Unassigned,0.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,2023-01-12,US,Hawaii,Unassigned,0.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,2023-01-12,China,Unassigned,Unassigned,1521816.0,0.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,2023-01-12,US,Tennessee,Unassigned,42056.0,248.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,2023-01-12,US,Missouri,Ozark,2021.0,64.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN